<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Assignment Part 1 - Home Page">
    <meta name="author" content="Dong Nhi Truong">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="images/logo/favicon.svg">
    <title>DropFresh - Home Page</title>


</head>

<body>
    <header>
        <div class="contact">
            <ul>
                <li id="hotline"><i class="fa-solid fa-phone icon" ></i> &nbsp;Hotline
                    <span><strong>0849026110</strong></span>
                </li>
                <li id="mail"><i class="fa-solid fa-envelope icon" ></i><a
                        href="mailto:104977535@student.swin.edu.au">&nbsp;Contact Us</a></li>
            </ul>
        </div>
        <!-- desktop menubar -->
        <div class="menu"> 
            <div class="logo">
                <a href="#menu-bar" class="tmenu"><i class="fa-solid fa-bars"></i>menu</a>
                <a href="#" class="tlogo"><img src="images/logo/logover1.svg" alt="DropFresh logo"></a></div>
            <div class="menu-wrapper">
                <nav class="info1">
                    <ul>
                        <li class="menubar"><a href="index.html"><i class="fa-solid fa-house"></i>&nbsp;Home Page</a></li>
                        <li class="menubar"><a href="jobs.html">Career Opportunities</a></li>
                        <li class="menubar"><a href="apply.html">Job Application</a></li>
                        <li class="menubar"><a href="about.html">About Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- mobile responsive menubar -->
        <nav class="info" id="menu-bar">
            <ul>
                <li class="menubar"><a href="index.html"><i class="fa-solid fa-house"></i>&nbsp;Home Page</a></li>
                <li class="menubar"><a href="jobs.html">Career Opportunities</a></li>
                <li class="menubar"><a href="apply.html">Job Application</a></li>
                <li class="menubar"><a href="about.html">About Us</a></li>
            </ul>
        </nav>
    </header>
   <div class="herosizeindex">
    <div class="hero">
    </div>
   </div>
    <article>    
        <h1><strong>Welcome to DropFresh - Pure Refreshment, Every Drop Counts!</strong></h1>
        <section class="homepage-section1">
            <div class="section-title">
                <div class="title-hr"></div>
                <h2>Discover Our Promise of Purity</h2>
                <div class="title-hr"></div>
            </div>
            <div class="homepage-section1-body">
                <div class="st1 box">
                    <h3>Refreshing Taste, Pure Source:</h3>
                    <p>DropFresh mineral water comes from pure springs located in untouched natural environments. The
                        water goes through thorough filtration processes to ensure that it maintains its natural
                        minerals and refreshing flavor.</p>
                </div>
                
                <div class="nd2 box">
                    <h3>Purity You Can Trust:</h3>
                    <p>We recognize the significance of being transparent about the water you consume. That is why we
                        offer full traceability for our water, enabling you to know its origin and the treatment process
                        it undergoes at each stage.</p>
                </div>

                <div class="rd3 box">
                    <h3>Sustainable Development:</h3>
                    <p>DropFresh is committed to protecting the environment by using eco-friendly packaging and sourcing
                        products ethically. Our goal is to protect the planet for future generations while providing the
                        cleanest water.</p>
                </div>
                
            </div>
        </section>
            
            <div class="section2">
                <h2>Experience the DropFresh Difference</h2>
                <img class="largesection2 rela" src="images/section2_background.svg" alt="Largesection">
                <img class="largesection2 abso1" src="images/mascot/1st_mascot_section2.svg" alt="Largesection1">
                <img class="largesection2 abso2" src="images/mascot/2nd_mascot_section2.svg" alt="Largesection2">
    
                <img class="responsivesection2" src="images/mascot/responsive_1st_mascot_section2.svg"
                    alt="Responsivesection1">
                <img class="responsivesection2" src="images/mascot/responsive_2nd_mascot_section2.svg"
                    alt="Responsivesection2">
            </div>
        
    </article>
    


    <footer>
        <div class="footer-top">
            <div class="footer-top1">
                <div class="join">
                    <h2>Become a member of the DropFresh family</h2>
                    <div class="button" id="hover">Join "Stay hydrated" community</div>
                </div>

                <div class="follow">
                    <h2>Follow us</h2>
                    <ul>
                        <li id="facebook"><a href="https://www.facebook.com/swinburneuniversityoftechnology"><i class="fa-brands fa-facebook fa-2xl">Facebook</i></a>
                        </li>
                        <li id="youtube"><a href="https://youtu.be/a7V9dOq_Xno"><i class="fa-brands fa-youtube fa-2xl">Youtube</i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="logo-footer">
                <img src="images/logo/logover1.svg" alt="DropFresh logo">
                <p>At DropFresh, we're passionate about sustainability and protecting the environment. Learnmore about
                    our eco-friendly practices and our dedication to minimizing our environmental footprint for a
                    healthier planet</p>
            </div>
        </div>

        <div class="footer-hr"></div>

        <div class="footer-middle">
            <h3>Contact Information</h3>
            <ul>
                <li class="lh">Email: <a href="mailto:104977535@student.swin.edu.au">104977535@student.swin.edu.au</a>
                </li>
                <li class="lh">Phone: 0849026110</li>
                <li class="lh">Address: A35, Bach Dang, Tan Binh District, Ho Chi Minh City </li>
            </ul>
            <h4><a href="index.html">Terms of Use | Privacy Policy</a></h4>
        </div>

        <div class="footer-hr"></div>
        <div class="footer-bottom">
            <h5>&copy; 2024 DropFresh</h5>
        </div>
    </footer>
</body>

</html>