<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Assignment Part 1 - Position Descriptions">
    <meta name="author" content="Dong Nhi Truong">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="images/logo/favicon.svg">
    <title>DropFresh - Job Description</title>


<body style="font-family: Open-sans, sans-serif;">
    <header>
        <div class="contact">
            <ul>
                <li id="hotline"><i class="fa-solid fa-phone icon" ></i> &nbsp;Hotline
                    <span><strong>0849026110</strong></span>
                </li>
                <li id="mail"><i class="fa-solid fa-envelope icon" ></i><a
                        href="mailto:104977535@student.swin.edu.au">&nbsp;Contact Us</a></li>
            </ul>
        </div>
        <!-- desktop menubar -->
        <div class="menu"> 
            <div class="logo">
                <a href="#menu-bar" class="tmenu"><i class="fa-solid fa-bars"></i>menu</a>
                <a href="#" class="tlogo"><img src="images/logo/logover1.svg" alt="DropFresh logo"></a></div>
            <div class="menu-wrapper">
                <nav class="info1">
                    <ul>
                        <li class="menubar"><a href="index.html"><i class="fa-solid fa-house"></i>&nbsp;Home Page</a></li>
                        <li class="menubar"><a href="jobs.html">Career Opportunities</a></li>
                        <li class="menubar"><a href="apply.html">Job Application</a></li>
                        <li class="menubar"><a href="about.html">About Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- mobile responsive menubar -->
        <nav class="info" id="menu-bar">
            <ul>
                <li class="menubar"><a href="index.html"><i class="fa-solid fa-house"></i>&nbsp;Home Page</a></li>
                <li class="menubar"><a href="jobs.html">Career Opportunities</a></li>
                <li class="menubar"><a href="apply.html">Job Application</a></li>
                <li class="menubar"><a href="about.html">About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="herosize">
        <div class="herojobs1">
        </div>
    </div>
    <div class="herotop1">
        <img src="images/mascot/mascot_hiring.svg" alt="DropFresh Mascot">
        <p>
            Join our team and be part of the DropFresh journey! We are a leading mineral water brand committed
            to providing pure, refreshing hydration to our customers. As we continue to grow, we are seeking
            talented individuals to join our dynamic team.</p>
    </div>
    <div class="section-title">
        <div class="title-hr"></div>
        <h1>Open Positions</h1>
        <div class="title-hr"></div>

    </div>
    <main>
        <div class="jobsintro">
            <aside>

                <ul>
                    <li class="jobs" id="close1">
                        <div class="jobs-mn">
                            <img src="images/logo/logover2.svg" alt="DropFresh logo1" >
                            <div class="nd-jobs">
                                <h2>DATA SCIENTIST</h2>
                                 <div class="jobs-1">
                                        <ul>
                                            <li>Location: Ho Chi Minh</li>
                                        <li>Number of position: 1</li>
                                        </ul>
                                    </div>
                                    <div class="jobs-1">
                                        <ul>
                                            <li>Posted: 16/02/2014</li>
                                        <li>Deadline to apply: 31/03/2024</li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                        
                        <a href="#job-info" class="block">View more</a>
    
                    </li>
                </ul>
                <ul>
                    <li class="jobs" id="close2">
                    <div class="jobs-mn">
                        <img src="images/logo/logover2.svg" alt="DropFresh logo2">
                        <div class="nd-jobs">
                            <h2>IT SUPPORT SPECIALIST</h2>
                            <div class="jobs-1">
                                <ul>
                                    <li>Location: Ho Chi Minh</li>
                                <li>Number of position: 1</li>
                                </ul>
                            </div>
                            <div class="jobs-1">
                                <ul>
                                    <li>Posted: 16/02/2014</li>
                                <li>Deadline to apply: 31/03/2024</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    
                    <a class="block" href="#it-support">View more</a>

                </li>
                </ul>
                <ul>
                    <li class="jobs" id="close3">
                        <div class="jobs-mn">
                            <img src="images/logo/logover2.svg" alt="DropFresh logo3">
                            <div class="nd-jobs">
                                <h2>MARKETING MMANAGER</h2>
                                    <div class="jobs-1">
                                        <ul>
                                            <li>Location: Ho Chi Minh</li>
                                        <li>Number of position: 1</li>
                                        </ul>
                                    </div>
                                    <div class="jobs-1">
                                        <ul>
                                            <li>Posted: 16/02/2014</li>
                                        <li>Deadline to apply: 31/03/2024</li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                            
                        <a class="block" href="#marketing-manager">View more</a>
                    </li>
                </ul>
                <ul>
                    <li class="jobs" id="close4">
                        <div class="jobs-mn">
                            <img src="images/logo/logover2.svg" alt="DropFresh logo4">
                            <div class="nd-jobs">
                                <h2>SOFTWARE ENGINEER</h2>
                                 <div class="jobs-1">
                                        <ul>
                                            <li>Location: Ho Chi Minh</li>
                                        <li>Number of position: 1</li>
                                        </ul>
                                    </div>
                                    <div class="jobs-1">
                                        <ul>
                                            <li>Posted: 16/02/2014</li>
                                        <li>Deadline to apply: 31/03/2024</li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                            
                        <a class="block" href="#software-engineer">View more</a>
    
                    </li>
                </ul>

            </aside>
            <div class="side-info">

                <p><img src="images/mascot/mascot_hiring.svg" alt= "DropFresh Mascot">
                    Join our team and be part of the DropFresh journey! We are a leading mineral water brand committed
                    to providing pure, refreshing hydration to our customers. As we continue to grow, we are seeking
                    talented individuals to join our dynamic team.</p>
            </div>
        </div>

        <section class="infoPanel" id="job-info">
            <a href="#close1"><i class="fa-solid fa-square-xmark">close</i></a>

            <div class="section-1">
                <h3>POSITION TILE: Data Scientist</h3>
                <h3>POSITION ID: DF01D</h3>
            </div>

            <div class="section-2">
                <h3>JOB DESCRIPTIION</h3>

                <p>We are looking for an experienced Data Scientist to analyze data and develop models to extract
                    meaningful insights for our business.</p>
            </div>

            <h3>JOB BENEFIT</h3>
            <div class="job-benefit">
                <ul class="jobs-section-1">
                    <li><i class="fa-solid fa-laptop"></i> Laptop</li>
                    <li><i class="fa-solid fa-suitcase-medical"></i> Insurance </li>
                    <li><i class="fa-solid fa-plane-departure"></i> Travel opportunities</li>
                    <li><i class="fa-solid fa-money-bills"></i> Allowances</li>
                    <li><i class="fa-solid fa-shirt"></i> Uniform</li>
                    <li><i class="fa-solid fa-dollar-sign"></i> Incentive bonus</li>
                </ul>
                <ul class="jobs-section-1">
                    <li><i class="fa-solid fa-graduation-cap"></i> Training & Development</li>
                    <li><i class="fa-solid fa-arrow-up-right-dots"></i> Salary review</li>
                    <li><i class="fa-solid fa-user-doctor"></i> Health checkup</li>
                    <li><i class="fa-solid fa-money-bills"></i> Seniority Allowance</li>
                    <li><i class="fa-solid fa-briefcase"></i> Annual Leave</li>
                    <li><i class="fa-solid fa-heart-circle-plus"></i> Health checkup</li>
                </ul>
            </div>
            <div class="section-3">
                <h3>SALARY RANGE:</h3>
                <p>$90.000 - $120,000</p>
            </div>
            <div class="section-3">
                <h3>REPORTS TO:</h3>
                <p> Analytics Manager</p>
            </div>


            <div class="section-4">
                <h3>KEY RESPONSIBILITIES</h3>

               <ul>
                 <li>Mine data from databases and compile relevant information for analysis</li>
                <li>Develop and implement statistical models, machine learning algorithms, and other advanced techniques
                </li>
                <li>Visualize and present data findings to stakeholders</li>
                <li>Identify trends and patterns in data sets</li>
                <li>Make recommendations for process improvements based on analysis</li>
                <li>Maintain data systems and databases</li>
               </ul>
            </div>

            <div class="section-4">
                <h3>REQUIRED SKILLS AND QUALIFICATIONS</h3>

                <h4>Essential:</h4>

                <ul>
                    <li>Master's degree in Data Science, Statistics or related field</li>
                <li>3+ years experience in data science role</li>
                <li>Expertise in Python, R, SQL, statistical modeling, machine learning</li>
                <li>Strong analytical skills with ability to communicate complex insights</li>

                </ul>
            </div>

            <div class="section-4">
                <h4>Preferable:</h4>
                <ul>
                    <li>Knowledge of visualization tools like Tableau, PowerBI</li>
                <li>Experience in consumer goods or beverage industry</li>
                <li>Cloud platform knowledge (AWS, Azure)</li>
                </ul>
            </div>
           <div class="section-5 button"> <a href="apply.html">APPLY NOW</a> <i class="fa-solid fa-angles-right"
                    ></i></div>

        </section>
        <section class="infoPanel" id="it-support">
            <a href="#close2"><i class="fa-solid fa-square-xmark">close</i></a>

            <div class="section-1">
                <h3>POSITION TILE: IT Support Specialist</h3>
                <h3>POSITION ID: DF02I</h3>
            </div>
            <div class="section-2">
                <h3>JOB DESCRIPTIION</h3>

                <p>We are looking for an experienced Data Scientist to analyze data and develop models to extract
                    meaningful insights for our business.</p>
            </div>
            <h3>JOB BENEFIT</h3>
            <div class="job-benefit">
                <ul class="jobs-section-1">
                    <li><i class="fa-solid fa-laptop"></i> Laptop</li>
                    <li><i class="fa-solid fa-suitcase-medical"></i> Insurance </li>
                    <li><i class="fa-solid fa-plane-departure"></i> Travel opportunities</li>
                    <li><i class="fa-solid fa-money-bills"></i> Allowances</li>
                    <li><i class="fa-solid fa-shirt"></i> Uniform</li>
                    <li><i class="fa-solid fa-dollar-sign"></i> Incentive bonus</li>
                </ul>
                <ul class="jobs-section-1">
                    <li><i class="fa-solid fa-graduation-cap"></i> Training & Development</li>
                    <li><i class="fa-solid fa-arrow-up-right-dots"></i> Salary review</li>
                    <li><i class="fa-solid fa-user-doctor"></i> Health checkup</li>
                    <li><i class="fa-solid fa-money-bills"></i> Seniority Allowance</li>
                    <li><i class="fa-solid fa-briefcase"></i> Annual Leave</li>
                    <li><i class="fa-solid fa-heart-circle-plus"></i> Health checkup</li>
                </ul>
            </div>
            <div class="section-3">
                <h3>SALARY RANGE:</h3>
                <p>$45.000 - $65,000</p>
            </div>
            <div class="section-3">
                <h3>REPORTS TO:</h3>
                <p> IT Operations Manager</p>
            </div>
            <div class="section-4">
                <h3>KEY RESPONSIBILITIES</h3>

              <ul>
                <li>Diagnose and resolve computer, software and peripheral issues</li>
                <li>Set up workstations with required hardware and software</li>
                <li>Assist in deploying new devices and applications</li>
                <li>Train users on systems and resolve technical questions</li>
                <li>Manage IT support ticketing system</li>
                <li>Maintain inventory of IT equipment</li>
              </ul>
            </div>
            <div class="section-4">
                <h3>REQUIRED SKILLS AND QUALIFICATIONS</h3>

                <h4>Essential:</h4>

                <ul>
                    <li>Associate's degree in IT or Computer Science</li>
                <li>2+ years help desk support experience</li>
                <li>Knowledge of Windows, macOS, MS Office Suite</li>
                <li>Customer service oriented with problem solving skills</li>

                </ul>
            </div>
            <div class="section-4">
                <h4>Preferable:</h4>
                <ul>
                    <li>IT certifications like CompTIA A+, Network+</li>
                <li>Experience with remote access support tools</li>
                <li>Knowledge of computer networking and security</li>
                </ul>
            </div>
            <div class="section-5 button"> <a href="#">APPLY NOW</a> <i class="fa-solid fa-angles-right"
                ></i></div>
        </section>
        <section class="infoPanel" id="marketing-manager">
            <a href="#close3"><i class="fa-solid fa-square-xmark">close</i></a>

            <div class="section-1">
                <h3>POSITION TILE: Marketing manager</h3>
                <h3>POSITION ID: DF03M</h3>
            </div>
            <div class="section-2">
                <h3>JOB DESCRIPTIION</h3>

                <p>We are looking for an innovative Marketing Manager to develop and execute promotional campaigns that
                    engage customers across multiple channels</p>
            </div>
            <h3>JOB BENEFIT</h3>
            <div class="job-benefit">
                <ul class="jobs-section-1">
                    <li><i class="fa-solid fa-laptop"></i> Laptop</li>
                    <li><i class="fa-solid fa-suitcase-medical"></i> Insurance </li>
                    <li><i class="fa-solid fa-plane-departure"></i> Travel opportunities</li>
                    <li><i class="fa-solid fa-money-bills"></i> Allowances</li>
                    <li><i class="fa-solid fa-shirt"></i> Uniform</li>
                    <li><i class="fa-solid fa-dollar-sign"></i> Incentive bonus</li>
                </ul>
                <ul class="jobs-section-1">
                    <li><i class="fa-solid fa-graduation-cap"></i> Training & Development</li>
                    <li><i class="fa-solid fa-arrow-up-right-dots"></i> Salary review</li>
                    <li><i class="fa-solid fa-user-doctor"></i> Health checkup</li>
                    <li><i class="fa-solid fa-money-bills"></i> Seniority Allowance</li>
                    <li><i class="fa-solid fa-briefcase"></i> Annual Leave</li>
                    <li><i class="fa-solid fa-heart-circle-plus"></i> Health checkup</li>
                </ul>
            </div>
            <div class="section-3">
                <h3>SALARY RANGE:</h3>
                <p>$80.000 - $110,000</p>
            </div>
            <div class="section-3">
                <h3>REPORTS TO:</h3>
                <p>VP of Marketing</p>
            </div>
            <div class="section-4">
                <h3>KEY RESPONSIBILITIES</h3>
                <ul>
                    <li>Plan and manage marketing programs from conception through implementation and analysis</li>
                    <li>Develop social media strategy and manage content creation </li>
                    <li>Initiate product launches and campaigns through digital marketing, events and other channels</li>
                    <li>Analyze performance data and identify insights to improve future initiatives</li>
                    <li>Collaborate with internal teams to align marketing plans with business objectives</li>
                </ul>
            </div>
            <div class="section-4">
                <h3>REQUIRED SKILLS AND QUALIFICATIONS</h3>

                <h4>Essential:</h4>

                <ul>
                    <li>Bachelor's degree in Marketing or related field</li>
                <li>5+ years experience in marketing management</li>
                <li>Excellent verbal/written communication and strategic planning skills</li>
                <li>Creative thinker with project management abilities</li>
                </ul>

            </div>
            <div class="section-4">
                <h4>Preferable:</h4>
               <ul>
                <li>Background in beverage/CPG industry marketing</li>
                <li>Digital marketing experience with platforms like HubSpot</li>
               </ul>
            </div>
            <div class="section-5 button"> <a href="#">APPLY NOW</a> <i class="fa-solid fa-angles-right"
                ></i></div>
        </section>
        <section class="infoPanel" id="software-engineer">
            <a href="#close4"><i class="fa-solid fa-square-xmark">close</i></a>

            <div class="section-1">
                <h3>POSITION TILE: Software Engineer</h3>
                <h3>POSITION ID: DF04S</h3>
            </div>
            <div class="section-2">
                <h3>JOB DESCRIPTIION</h3>

                <p>We are looking for a Software Engineer to join our technology team and help build our digital
                    platforms and internal systems</p>
            </div>
            <h3>JOB BENEFIT</h3>
            <div class="job-benefit">
                <ul class="jobs-section-1">
                    <li><i class="fa-solid fa-laptop"></i> Laptop</li>
                    <li><i class="fa-solid fa-suitcase-medical"></i> Insurance </li>
                    <li><i class="fa-solid fa-plane-departure"></i> Travel opportunities</li>
                    <li><i class="fa-solid fa-money-bills"></i> Allowances</li>
                    <li><i class="fa-solid fa-shirt"></i> Uniform</li>
                    <li><i class="fa-solid fa-dollar-sign"></i> Incentive bonus</li>
                </ul>
                <ul class="jobs-section-1">
                    <li><i class="fa-solid fa-graduation-cap"></i> Training & Development</li>
                    <li><i class="fa-solid fa-arrow-up-right-dots"></i> Salary review</li>
                    <li><i class="fa-solid fa-user-doctor"></i> Health checkup</li>
                    <li><i class="fa-solid fa-money-bills"></i> Seniority Allowance</li>
                    <li><i class="fa-solid fa-briefcase"></i> Annual Leave</li>
                    <li><i class="fa-solid fa-heart-circle-plus"></i> Health checkup</li>
                </ul>
            </div>
            <div class="section-3">
                <h3>SALARY RANGE:</h3>
                <p>$80.000 - $120,000</p>
            </div>
            <div class="section-3">
                <h3>REPORTS TO:</h3>
                <p>Engineering Manager</p>
            </div>
            <div class="section-4">
                <h3>KEY RESPONSIBILITIES</h3>

                <ul>
                    <li>Collaborate with stakeholders to understand software requirements and architecture</li>
                <li>Write reusable, testable and high-performance code </li>
                <li>Build modular components and integrate with internal systems</li>
                <li>Implement software features and interfaces</li>
                <li>Troubleshoot issues, improve software quality and security</li>
                <li>Keep updated on emerging technologies and best practices</li>
                </ul>
            </div>
            <div class="section-4">
                <h3>REQUIRED SKILLS AND QUALIFICATIONS</h3>

                <h4>Essential:</h4>

               <ul>
                <li>Bachelor's degree in Computer Science or related field</li>
                <li>3+ years professional software engineering experience</li>
                <li>Proficiency with programming languages like Java, Python, JavaScript</li>
                <li>Experience with database systems and software design principles</li>
                <li>Excellent analytical and problem-solving abilities</li>
               </ul>

            </div>
            <div class="section-4">
                <h4>Preferable:</h4>
                <ul>
                    <li>Knowledge of cloud platforms like AWS, Azure</li>
                <li>Experience with CI/CD and DevOps processes</li>
                <li>Passion for building high-quality digital products</li>
                </ul>
            </div>
            <div class="section-5 button"> <a href="#">APPLY NOW</a> <i class="fa-solid fa-angles-right"
                ></i></div>
        </section>
    </main>
    <footer>
        <div class="logo-footer">
            <img src="images/logo/logover1.svg" alt="DropFresh logo">
            <p>At DropFresh, we're passionate about sustainability and protecting the environment. Learnmore about
                our eco-friendly practices and our dedication to minimizing our environmental footprint for a
                healthier planet</p>
        </div>

        <div class="footer-hr"></div>

        <div class="footer-middle">
            <h3>Contact Information</h3>
            <ul>
                <li class="lh">Email: <a href="mailto:104977535@student.swin.edu.au">104977535@student.swin.edu.au</a>
                </li>
                <li class="lh">Phone: 0849026110</li>
                <li class="lh">Address: A35, Bach Dang, Tan Binh District, Ho Chi Minh City </li>
            </ul>
            <h4><a href="index.html">Terms of Use | Privacy Policy</a></h4>
        </div>

        <div class="footer-hr"></div>
        <div class="footer-bottom">
            <h5>&copy; 2024 DropFresh</h5>
        </div>
    </footer>

    
</body>

</html>